Options -Indexes
<FilesMatch "*">
	Header set Access-Control-Allow-Origin "*"
	Header set Access-Control-Allow-Methods "GET"
	Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
</FilesMatch>

